<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet3_l1_.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{106,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,101}}</string>
                <key>sourceSize</key>
                <string>{106,101}</string>
            </dict>
            <key>pet3_l1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,137},{93,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{93,100}</string>
            </dict>
            <key>pet3_l1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>pet3_l1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{106,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,94}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>spell3_l1_p1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,105},{30,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,101}}</string>
                <key>sourceSize</key>
                <string>{32,101}</string>
            </dict>
            <key>spell3_l1_p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{32,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,101}}</string>
                <key>sourceSize</key>
                <string>{32,101}</string>
            </dict>
            <key>spell3_l1_p2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,105},{43,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,22}}</string>
                <key>sourceSize</key>
                <string>{43,22}</string>
            </dict>
            <key>spell3_l1_p2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{97,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,59}}</string>
                <key>sourceSize</key>
                <string>{97,59}</string>
            </dict>
            <key>spell3_l1_p2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,277},{72,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,43}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>spell3_l1_p2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,232},{72,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,43}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>spell3_l1_p2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,232},{76,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,46}}</string>
                <key>sourceSize</key>
                <string>{76,46}</string>
            </dict>
            <key>spell3_l1_p2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,277},{72,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,43}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>spell3_l1_p2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,232},{72,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,43}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>spell3_l1_p2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,232},{76,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,46}}</string>
                <key>sourceSize</key>
                <string>{76,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet3_l1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63b112baa636488084a151dd496db585$</string>
            <key>textureFileName</key>
            <string>pet3_l1.png</string>
        </dict>
    </dict>
</plist>
